{{!< default}}

{{#post}}

  <article class="post-container post-container--single">

    <header class="post-header">
      <h1 class="post-title">{{{title}}}</h1>
    </header>
    {{#if feature_image}}
      <figure class="post-full-image">
        {{!-- This is a responsive image, it loads different sizes depending on device
        https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
        <img
            srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
            sizes="(max-width: 800px) 400px,
                            (max-width: 1170px) 700px,
                            1400px"
            src="{{img_url feature_image size="xl"}}"
            alt="{{title}}"
        />
      </figure>
    {{/if}}
    <section>
        <a href="https://996.icu"><img src="https://img.shields.io/badge/link-996.icu-red.svg" alt="996.icu"></a>
    </section>
    <section class="{{post_class}}">
      {{> tag-cloud limit="all"}}
    </section>
    {{> donate}}
    {{> share}}

  </article>
  {{> comments}}

{{/post}}
